@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik');

html {
    -webkit-font-smoothing: antialiased;    
    background-color: #fff1ff;
    
    padding-left: 2vw;
    padding-top: 2vw;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    text-transform: lowercase;
    color: #94cdea;
    text-align: center;
}

h1 {
    font-family: 'Rubik', serif;
    font-size: 12vw;
    letter-spacing: 5px;
}

h2 {
    letter-spacing: 5px;
    padding-top: 50px;
    line-height: 1.5;
    text-transform: uppercase;
}

a {
    color: gainsboro;
    text-transform: uppercase;
    font-style: bold;
}

a:hover {
    color: pink;
    background-color: whitesmoke;
    font-style: italic
}